@using System.Web.UI.WebControls
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
  <div id="navbar">
    <div id="login-section">
      <div class="float-right">
        <section id="login">
          @Html.Partial("_LoginPartial")
        </section>
      </div>
    </div>
    <div class="float-left">
      <img class="logo" src="~/images/nhschoices_logo_lg.gif" alt="Logo"/>
    </div>
    <div id="navbar-header">
      @Html.ActionLink("Where are your colleagues?", "Status", "Users", new { area = "" }, new { @class = "navbar-brand" })
    </div>
    <p class="navbar-nav">
      @Html.ActionLink("Status", "Status", "Users")
      @Html.ActionLink("Register", "Register", "Users")
      @Html.ActionLink("Login/Signup", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
  </div>
  <div id="navbar-separator"></div>
  <div id="container">
    @RenderBody()
  </div>
</body>
</html>