@model WhereIsMyColleague.Web.Models.LocalPasswordModel

<p class="p-font">
  You do not have a local password for this site. Add a local
  password so you can log in without an external login.
</p>

@using (Html.BeginForm("Manage", "Account"))
{
  @Html.AntiForgeryToken()
  @Html.ValidationSummary()

  <fieldset class="form-font">
    <legend>Set Password</legend>
        @Html.LabelFor(m => m.NewPassword)<br/>
        @Html.PasswordFor(m => m.NewPassword)<br/><br/>
        @Html.LabelFor(m => m.ConfirmPassword)<br/>
        @Html.PasswordFor(m => m.ConfirmPassword)<br/><br/>
    <input type="submit" value="Set password" />
  </fieldset>
}