@model WhereIsMyColleague.Web.Models.LoginModel

@{
  ViewBag.Title = "Log in";
}

<hgroup class="title">
  <h1>@ViewBag.Title.</h1>
</hgroup>

<section class="float-left" id="socialLoginForm">
  <h2>Signup</h2>
  @Html.Action("ExternalLoginsList", "Account", new { ReturnUrl = ViewBag.ReturnUrl })
  <p>Please not that using any provider other than Google will require you to create a local account as well.</p>
</section>

<section id="loginForm" class="float-right">
  <h2>Please login here</h2>
  @using (Html.BeginForm("Login", "Account"))
  {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
      <ul>
        <li>
          @Html.LabelFor(m => m.UserName)
          @Html.TextBoxFor(m => m.UserName)
          @Html.ValidationMessageFor(m => m.UserName)
        </li>
        <li>
          @Html.LabelFor(m => m.Password)
          @Html.PasswordFor(m => m.Password)
          @Html.ValidationMessageFor(m => m.Password)
        </li>
        <li>
          @Html.CheckBoxFor(m => m.RememberMe)
          @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
        </li>
      </ul>
      <input type="submit" value="Log in" />
    </fieldset>
  }
</section>