@model WhereIsMyColleague.Web.Models.LoginModel

@{
  ViewBag.Title = "Log in";
}

<p class="p-font-red">
  CURRENTLY THERE IS NO BENEFIT TO CREATING AN ACCOUNT, THIS PAGE IS JUST HERE TO LOOK FANCY. HOWEVER AT SOME POINT YOU WILL BE ABLE TO CREATE
  AN ACCOUNT WHERE YOU CAN BUILD A PROFILE TO MAKE REGISTERING MUCH EASIER.<br /><br />
</p>

<section class="float-left" id="social-login-form">
    <h2 class="login-header">Signup</h2>
    @Html.Action("ExternalLoginsList", "Account", new { ReturnUrl = ViewBag.ReturnUrl })
    <p>Please note that in order to login in you must select a provider and create an account for the site.</p>
</section>

<section id="login-form" class="float-right">
  <h2>Please login here</h2>
  @using (Html.BeginForm("Login", "Account"))
  {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
          @Html.LabelFor(m => m.UserName)<br/>
          @Html.TextBoxFor(m => m.UserName)<br/><br/>
          @Html.ValidationMessageFor(m => m.UserName)<br/>

          @Html.LabelFor(m => m.Password)<br/>
          @Html.PasswordFor(m => m.Password)<br/>
          @Html.ValidationMessageFor(m => m.Password)

          @Html.CheckBoxFor(m => m.RememberMe)
          @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })<br/><br/>
      <input type="submit" value="Log in" />
    </fieldset>
  }
</section>