@model WhereIsMyColleague.Web.Models.User

@using (Html.BeginForm())
{
  @Html.ValidationSummary(true)
  
  <div id="register-form">
    <p>@Html.LabelFor(x => x.Name)</p>
    <p>@Html.EditorFor(x => x.Name)</p><br/>
    <p>@Html.LabelFor(x => x.Location)</p>
    <p>@Html.EnumDropDownListFor(x => x.Location)</p><br/>
    <p>@Html.LabelFor(x => x.Duration)</p>
    <p>@Html.EnumDropDownListFor(x => x.Duration)</p><br/>
    <p>@Html.LabelFor(x => x.SecondLocation, new { id = "SecondLocationID" })</p>
    <p>@Html.EnumDropDownListFor(x => x.SecondLocation)</p><br />

    <input class="submit-button" type="submit" value="Register" />
  </div>
  
}

<script src="~/Scripts/jquery-1.11.2.min.js"></script>
<script src="~/Scripts/secondlocation.js"></script>
