@model WhereIsMyColleague.Web.Models.UsersViewModel

@{
  ViewBag.Title = "User List Page";
}

@using (Html.BeginForm())
{
  <p class="p-font">@Html.LabelFor(x => x.LocationFilter)</p>
  @Html.EnumDropDownListFor(x => x.LocationFilter, new { onchange = "submit();" })
}

<br/>

@if (@Model.User.Any())
{
    foreach (var user in @Model.User)
    {
      switch (user.Duration.ToString())
      {
        case "AllDay":
          <li class="li-font">
            @user.Name is located @@ @Html.DisplayFor(modelItem => user.Location), @Html.DisplayFor(modelItem => user.Duration)
          </li>
          break;
        case "Morning":
          <li class="li-font">
            @user.Name is located @@ @Html.DisplayFor(modelItem => user.Location) in the @Html.DisplayFor(modelItem => user.Duration), and @Html.DisplayFor(modelItem => user.SecondLocation) in the afternoon
          </li>
          break;
        case "Afternoon":
          <li class="li-font">
            @user.Name is located @@ @Html.DisplayFor(modelItem => user.Location) in the @Html.DisplayFor(modelItem => user.Duration), and @Html.DisplayFor(modelItem => user.SecondLocation) in the morning
          </li>
          break;
      }
    }
  }


