@model IEnumerable<WhereIsMyColleague.Web.Models.User>

@{
  ViewBag.Title = "User List Page";
  var dateTime = DateTime.Now.ToShortDateString();
}



@if (@Model.Any())
{
  foreach (var user in @Model.Where(user => user.TimeStamp == dateTime))
  {
    if (user.Duration.ToString() == "AllDay")
    {
      <li>@user.Name is located @@ @user.Location, All Day</li>
    }
    else
    {
      <li>@user.Name is located @@ @user.Location in the @user.Duration</li>
    }
  }
}